/* UpdateUser.css */

.update-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efeef1; /* Purple background for the page */
  }
  
  .form-container {
    background-color: #e7d8ec; /* Light gray background for the form container */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .btn-info {
    background-color: #704ca7; /* Purple button background */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-info:hover {
    background-color: #5a3b8a; /* Darker purple on hover */
  }
  